.DS_Store
*.pyc
*.log
*.swp
*.retry
.env
.envrc
.idea
.vscode
*~
/logs
/data
dist/
.~*
node_modules
venv
.venv
__pycache__
!.gitignore

.ruff-cache

db.sqlite3

media/

# Compiled translations
*.mo

src/wagtail_mfa/static/*
sandbox/collected_static/*
