// Any global variables that don't change should be placed here
$box-max-width: 1000px;
$box-border-radius: 0.375rem;
$box-border-width: max(1px, 0.0625rem);

$spacing-1: 8px;
$spacing-2: 12px;
$spacing-3: 16px;
$spacing-4: 28px;
$spacing-5: 42px;

$breakpoint-md: 768px;
