// Design tokens
$box-background-light: var(--w-surface-page);
$box-background-dark: var(--w-surface-page);
$box-header-light: #fcfbfe;
$box-header-dark: var(--w-surface-page);
$box-border-color-light: #d8d7d7;
$box-border-color-dark: #686868;
$box-badge-border-color-light: #727272;
$box-badge-border-color-dark: #d8d7d7;
